<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/trabajadores">
    <img src="/public/logo2.png" width="30" height="30" class="d-inline-block align-top" alt="">
    GoCar
  </a>
</nav>
<br>
    <h3 class="titulo"><a href="/trabajadores">Lista de trabajadores</a></h3>
    <br>
<div class="centrado-2">

    <h1>Editar trabajador</h1>
    <br>
    <form action="/trabajadores/update/{{ trabajadorm.id }}" method="post">
        <table class="table text-white">
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td><input type="text" name="nombre" value=" {{ trabajadorm.nombre }}"/> </td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td><input type="text" name="username" value=" {{ trabajadorm.marca }}"/> </td>
                </tr>
                <tr>
                    <td>Correo</td>
                    <td><input type="text" name="correo" value=" {{ trabajadorm.color }}"/> </td>
                </tr>
                <tr>
                    <td>Celular</td>
                    <td><input type="text" name="celular" value=" {{ trabajadorm.estado }}"/> </td>
                </tr>
                <tr>
                    <td>Cargo</td>
                    <td><input type="text" name="cargo" value=" {{ trabajadorm.stock }}"/> </td>
                </tr>
                <tr>
                    <td>Area</td>
                    <td><input type="text" name="area" value=" {{ trabajadorm.capacidad }}"/> </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="btn btn-dark" type="submit" value="Update" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>



