<!-- Image and text -->

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/trabajadores">
    <img src="/public/logo2.png" width="30" height="30" class="d-inline-block align-top" alt="">
    GoCar
    </a>
</nav>
<br>
<h1 class="titulo text-white">Lista de Trabajadores Disponibles</h1>
<br>

<p>
    <div class="centrado">
        <br>
        {{#if trabajadores }}
            <table class="table text-white">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Username</th>
                        <th>Correo</th>
                        <th>Celular</th>
                        <th>Cargo</th>
                        <th>Area</th>
                    </tr>
                </thead>
                <tbody>
                    {{# each trabajadores}}
                    <tr>
                        <td><a href="/trabajadores/show/{{ _id }} "> {{ nombre }} </td>
                        <td>{{ username }}</td>
                        <td>{{ correo }}</td>
                        <td>{{ celular }}</td>
                        <td>{{ cargo }}</td>
                        <td>{{ area }}</td>
                    </tr>
                    {{/each}}
                </tbody>                
            </table>
            <button<h3><a href="/trabajadores/create" class="btn btn-dark">Añadir Trabajador</a></button>
        {{~^~}}
            <div>Trabajadores no encontrados</div>
        {{/if}}
    </div>
</p>