
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
    <img src="/public/logo2.png" width="30" height="30" class="d-inline-block align-top" alt="">
    GoCar
    </a>
</nav>
    </br>
<center><h1 class="titulo-2 text-white" >Lista de Usuarios</h1></center>

<p>
    <div class="centrado">
        <br>
        {{#if usuarios }}
            <table class="table text-white">
                <thead class="thead-dark">
                    <tr>
                        <th cope="col">Nombre</th>
                        <th cope="col">Username</th>
                        <th cope="col">Correo</th>
                        <th cope="col">Celular</th>
                        <th cope="col">Preferencia</th>
                        <th cope="col">Edad</th>
                    </tr>
                </thead>
                <tbody>
                    {{# each usuarios}}
                    <tr>
                        <td ><a href="/usuarios/show/{{ _id }} "> {{ nombre }} </td>
                        <td>{{ username }}</td>
                        <td>{{ correo }}</td>
                        <td>{{ celular }}</td>
                        <td>{{ preferencia }}</td>
                        <td>{{ edad }}</td>
                    </tr>
                    {{/each}}
                </tbody>                
            </table>
            <button<h3><a href="/usuarios/create" class="btn btn-dark">Añadir Usuario</a></h3></button>
        {{~^~}}
            <div>Usuarios no encontrados</div>
        {{/if}}
    </div>
</p>