<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/usuarios">
    <img src="/public/logo2.png" width="30" height="30" class="d-inline-block align-top" alt="">
    GoCar
  </a>
</nav>
<br>
<h3 class="titulo-2"><a href="/usuarios">Lista de usuarios</a></h3>

<div class="centrado-2">
    <br>
    <h1>Detalle del usuario</h1>
    <br>
        <table class="table text-white">
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td> {{ usuariom.nombre }} </td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td> {{ usuariom.username }} </td>
                </tr>
                <tr>
                    <td>Correo</td>
                    <td> {{ usuariom.correo }} </td>
                </tr>
                <tr>
                    <td>Celular</td>
                    <td> {{ usuariom.celular }} </td>
                </tr>
                <tr>
                    <td>Preferencia</td>
                    <td> {{ usuariom.preferencia }} </td>
                </tr>
                <tr>
                    <td>Edad</td>
                    <td> {{ usuariom.edad }} </td>
                </tr>
            </tbody>
        </table>

        <h3 class="btn btn-dark"><a href="/usuarios/edit/{{ usuariom._id }}">EDITAR</a></h3>

        <form action="/usuarios/delete/{{ usuariom._id }}" method="POST">
            <button class="btn btn-dark" type="submit">ELIMINAR</button>
        </form>
    </form>
</div>

