<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/autos">
    <img src="/public/logo2.png" width="30" height="30" class="d-inline-block align-top" alt="">
    GoCar
  </a>
</nav>
<br>
    <h3 class="titulo-2" ><a href="/autos">Lista de autos</a></h3>
<div class="centrado-2">
<br>

    <h1>Editar auto</h1>
    <br>
    <form action="/autos/update/{{ autom.id }}" method="post">
        <table class="table text-white">
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td><input type="text" name="nombre" value=" {{ autom.nombre }}"/> </td>
                </tr>
                <tr>
                    <td>Marca</td>
                    <td><input type="text" name="marca" value=" {{ autom.marca }}"/> </td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td><input type="text" name="color" value=" {{ autom.color }}"/> </td>
                </tr>
                <tr>
                    <td>Estado</td>
                    <td><input type="text" name="estado" value=" {{ autom.estado }}"/> </td>
                </tr>
                <tr>
                    <td>Stock</td>
                    <td><input type="text" name="stock" value=" {{ autom.stock }}"/> </td>
                </tr>
                <tr>
                    <td>Capacidad</td>
                    <td><input type="text" name="capacidad" value=" {{ autom.capacidad }}"/> </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="btn btn-dark" type="submit" value="Update" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>



